body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}



.main-container{
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 50%;
    padding: 1rem;
}

.book-card{
    border: 2px solid black;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal{
    border: 2px solid green;
    width: 50%;
    height: 50%;
    background: #eee;
    position: absolute;
    z-index: 10;
    

}


form > h2{
    text-align: center;
}

.form-grid {
   display: grid;
   align-items: center;
   justify-content: left;
   grid-template-columns: repeat(2, minmax(0, 1fr));
}



.form-grid input[type="text"]{
   
    

}